# Specify filepatterns you want git to ignore.

*.jpg
*.json
*.xlsx
*.zip
*.pyc
*.tiff
*.png
*.tsv
*.nmd
*.txt
*.pdf
*.html
*.tar
*.gz
.Rhistory
.Rproj.user
*.Rproj
*.Rds
*.Rdata*
.Rprofile
stomatal*/*
using_anylabelling/*
figure/*
data/*

